@import '../../layout/theme.scss';
.user-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: $md-grey-700;
    color: $md-secondary-color !important;
    
}
